<div class="container-main">
  <div class="page-title">
    <h1> Skills </h1>
  </div>
  <hr class="separator">
  <div class="legend-container">
    <img class="legend-svg-logo" src="assets/logo-legend.svg" alt="Spinner">
    <div class="scale-bar">
      <img src="assets/skill-legend.png" alt="Skills Legend">
    </div>
    <div class="info-container">
      <a class="legend-tooltip" ngbTooltip="Source" tooltipClass="my-tooltip" target="_blank"
         href="https://hr.nih.gov/working-nih/competencies/competencies-proficiency-scale"
      >
        <i class="fas fa-info-circle"></i>
      </a>

    </div>
  </div>


  <app-loader *ngIf="!loaded"></app-loader>
  <div class="grid" *ngIf="loaded">
    <div class="tech-item" *ngFor="let tech of technologies">
      <app-technology-detail [technology]="tech">
      </app-technology-detail>
    </div>
  </div>
</div>

