<div class="container-main">
  <div class="page-title">
    <h1> Leonardo Perrone</h1>
  </div>
  <hr class="separator separator-home">

  <div class="about-container">
    <div class="profile-pic">
      <img src="assets/profile-pic.jpg">
      <span class="photo-caption">
        Photo credit: Marcello Munari
        <a class="marcello-ig-link" href="https://www.instagram.com/thewisdomwhisperer/?hl=en" target="_blank">
        <i class="fas fa-external-link-alt"></i>
      </a>
      </span>
    </div>
    <div class="about-description">
      <p class="hello"> Hello visitor, </p>
      <br>
      <p> my name is<strong> Leonardo Perrone</strong> and I am a young<strong> software developer</strong> that just started his career in
        this wonderful field. When I was younger, I felt a strong connection with technology and computers so I decided
        to pursue a degree related to this subject. </p>
      <p>A few years after, I completed a <strong>Bachelor’s</strong> of Science in <strong>Computer
        Engineering</strong> at Wichita State University in the sunflower state of Kansas. I was also able to complete a<strong> minor</strong> in
        <strong>Management Information Systems </strong>, which gave me my first exposure to relational databases and VB.
      </p>
      <p>
        I believe that software developers and engineers are not only the gears that make our world go on, but also the
        ones that show the world that nothing is impossible in terms of innovation. You think it, they’ll do it. With
        this in mind I hope that someday I will be part of the innovation that will affect the upcoming generations.
      </p>

    </div>
    <div class="email-container">

      <p> If you would like to know<strong> more about me</strong> you can reach me through the<strong> email</strong> displayed below or through my
        LinkedIn
        <a placement="top" ngbTooltip="Instagram" class="linkedin-link" href="https://www.linkedin.com/in/leonardo-perrone-123456/" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
      </p>

      <p class="skill-link-paragraph"> Meanwhile you can checkout my skill set <a class="skill-link" routerLink="/skills"><i class="fas fa-laptop"></i></a></p>

      <div class="contact-detail">


        <button *ngIf="isCollapsed" type="button" class="btn btn-outline-dark btn-show" (click)="showEmail()"
                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseEmail">
          <span> {{showButtonText}}</span>
        </button>
        <div id="collapseEmail" [ngbCollapse]="isCollapsed">
          <input #email class="email-field" readonly type="text" [value]="first + '@' + last">
          <button #copy class="btn btn-outline-dark btn-copy" placement="top" ngbTooltip="Copy" type="button" *ngIf="!isCollapsed" (click)="copyEmail()">
            <i
              class="far fa-clone"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>

