.container-main .separator-home {
  width: 380px;
}

.about-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 75px;
  grid-row-gap: 50px;
  justify-content: center;
  margin: 0 100px;
  p {
    line-height: 30px;
  }
}

.hello {
  font-size: 30px;
  font-style: italic;
}

.about-description {
  text-align: left;
}

.about-container, .email-field {
  font-family: "Charter", sans-serif;
  color: #000000;
  font-size: 25px;
  letter-spacing: 2px;

}

.profile-pic {
  width: 100%;
  img {
    width: 100%;
  }
}

.photo-caption {
  font-size: 15px;
  font-style: italic;
  float: right;
  margin-top: 5px;
}

.fa-external-link-alt {
  font-size: 14px;
}

.marcello-ig-link, .skill-link {
  color: #000;
  &:hover {
    color: #979797;
  }
}

.linkedin-link {
  color: #0077B5;
  &:hover {
    color: #00A0DC;
  }
}

.fa-external-link-alt {
  font-size: 14px;
}

.linkedin-link, .skill-link {
  font-size: 23px;
}

.fa-clone {
  font-size: 16px;
}

.contact-detail {
  margin-top: 60px;
}

.btn {
  width: 150px;
  height: 50px;
  font-family: "Charter", sans-serif;
  font-size: 21px;
}

.btn-copy {
  width: 40px;
  height: 40px;
  padding: 3px;
  border-radius: 13px;
  border: none;
}

.email-container {
  grid-column: 1 / -1;
  grid-row: 2;
  text-align: center;
}

.email-field {
  width: 480px;
  color: #212529;
  text-align: center;
  border: none;
  margin-right: 10px;
  vertical-align: bottom;
  font-weight: bold;
}

.skill-link-paragraph {
  margin-top: 50px;
}

@media screen and (max-width: 1440px) {
  .about-container {
    grid-template-columns: 1fr;
  }

  .about-description {
    text-align: center;
  }
  .profile-pic {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  .email-container {
    grid-row: 3;
  }
}

@media screen and (max-width: 1024px) {
  .about-container, .email-field {
    font-size: 21px;
    grid-row-gap: 25px;
  }

  .profile-pic {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 768px) {
  .container-main .separator-home {
    width: 300px;
  }

  .about-container, .email-field {
    font-size: 18px;
  }
  .email-field {
    width: 360px;
    vertical-align: sub;
  }
  .btn-show {
    width: 130px;
    height: 45px;
    font-size: 18px;
  }

}

@media screen and (max-width: 425px) {
  .about-container {
    margin: 0px 20px;
  }
  .email-field {
    width: 330px;
  }
}

@media screen and (max-width: 375px) {
  .photo-caption {
    font-size: 9px;
  }
  .fa-external-link-alt {
    font-size: 11px;
  }
}

@media screen and (max-width: 320px) {
  .container-main .separator-home {
    width: 270px;
  }
  .email-field {
    font-size: 15px;
    width: 300px;
  }
}
