<nav #navbar [ngClass]="isHomeActive ? 'nav-home' : 'nav-dark-bg'"
     class="navbar navbar-expand-lg navbar-dark navbar-light fixed-top ">
  <a class="nav-link home" routerLink="/home">
    <img alt="LP logo" data-target=".navbar-collapse.show" data-toggle="collapse" src="assets/logo.png" (click)="checkMenuCollapse('logo-link')">
  </a>
  <button #navbarMenuButton (click)="checkMenuCollapse('menu-button')"
          [attr.aria-expanded]="!isCollapsed"
          aria-label="Toggle navigation" class="navbar-toggler custom-toggler" aria-controls="navbarNavDropdown"
          id="navbar-collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav">
      <li class="nav-item" data-target=".navbar-collapse.show" data-toggle="collapse">
        <a class="nav-link menu-item" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" data-target=".navbar-collapse.show" data-toggle="collapse">
        <a class="nav-link menu-item" routerLink="/skills">Skills</a>
      </li>
      <li class="nav-item" data-target=".navbar-collapse.show" data-toggle="collapse">
        <a class="nav-link menu-item" routerLink="/projects">Projects</a>
      </li>
      <li class="nav-item" data-target=".navbar-collapse.show" data-toggle="collapse">
        <a class="nav-link menu-item" routerLink="/about">About</a>
      </li>
    </ul>
  </div>
</nav>

<main>
  <router-outlet></router-outlet>
  <app-footer *ngIf="!isHomeActive"></app-footer>
</main>
