<nav class="navbar navbar-expand-lg navbar-dark navbar-light fixed-top nav-bg">
  <a class="nav-link home" routerLink="/home">
    <img src="assets/logo.png" data-toggle="collapse" data-target=".navbar-collapse.show">
  </a>
  <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" id="navbar-collapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link menu-item" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link menu-item" routerLink="/skills">Skills</a>
      </li>
    </ul>
  </div>
</nav>

<main class="container-main">
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</main>
