<div class="intro route bg-image" id="home">
  <div class="overlay-intro"></div>
  <div class="intro-content display-table">
    <div class="table-cell">
      <div class="container">
        <!--<p class="display-6 color-d">Hello, world!</p>-->
        <h1 class="intro-title mb-4">I am Leonardo Perrone</h1>
        <p class="intro-subtitle"><span id="typed"></span></p>
        <div class="know-me-wrapper">
          <a class="btn btn-know-me" role="button" routerLink="/about">
            get to know me :)
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

