<div class="tech-container">
  <div class="logo">
    <ng-container *ngIf="technology.logo[0]; else loading">
      <img *ngFor="let logo of technology.logo" [src]="logo" alt="Logo {{technology.name}}">
    </ng-container>
  </div>

  <div class="detail-container">
    <div class="tech-header">
      <div class="title">
        {{technology.name | titlecase}}
      </div>
      <div class="progress-bar">
        <app-svg-viewer
          [svgSpecs]="{experience: technology.experience, expColor: technology.expColor}"></app-svg-viewer>
      </div>
    </div>
    <div class="description">
      <p>
        {{technology.description}}
      </p>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
